<%= form_with(model: @priority, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter priority name" %>
  </div>

  <div class="mb-3">
    <%= form.label :level %>
    <%= form.number_field :level, class: "form-control", placeholder: "Enter priority level (1-5)" %>
  </div>

  <div class="mt-3">
    <%= form.submit "Save Priority", class: "btn btn-primary" %>
  </div>
<% end %>
