<%= form_with(model: @priority, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter priority name" %>
  </div>

  <div class="mb-3">
    <%= form.label :score %>
    <%= form.number_field :score, step: 0.1, class: "form-control", placeholder: "Enter priority score" %>
  </div>

  <div class="mt-3">
    <%= form.submit "Save Priority", class: "btn btn-primary" %>
  </div>
<% end %>
